@import './styles/base.css';
@import './styles/layout.css';
@import './styles/components.css';
@import "tailwindcss";

details > summary {
  list-style: none;
}

details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "▶";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #888;
  transition: transform 0.2s ease;
  transform-origin: center;
  position: relative;
  top: -1px;
}

details[open] > summary::before {
  transform: rotate(90deg);
}
