body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 5px 1fr; /* Two resizable columns with a handle */
  grid-template-rows: 100%;
  overflow: hidden;
}

#canvas-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#editor-container {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #333;
  overflow: hidden;
}

#resizer {
  width: 5px;
  cursor: col-resize;
  background-color: #333;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#monaco-editor {
  flex: 1;
  overflow: hidden;
}

#output {
  flex-basis: 20%;
  overflow-y: auto;
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  border-top: 2px solid #333;
  font-size: 14px;
  white-space: pre-wrap;
}

#execute {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

#execute:hover {
  background-color: #0056b3;
}
