#canvas-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

#right-panel {
  display: flex;
  flex-direction: column;
  border-left: none;
  overflow: visible;
  position: relative;
  z-index: 2;
}

#resizer {
  width: 5px;
  cursor: col-resize;
  background-color: #333;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: flex-start;
}

#editor-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#settings-container,
#bodies-container,
#plots-container {
  padding: 20px 32px 20px 20px;  /* top right bottom left */
  color: white;
  background: #1e1e1e;
}

.coordinate-display {
  font-family: monospace;
  font-size: 14px;
  margin-top: 10px;
  display: grid;
  gap: 5px;
}

.coordinate-display div {
  background: #2d2d2d;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 15px;
}

#monaco-editor {
  flex: 1;
  overflow: hidden;
}

#output {
  flex-basis: 20%;
  overflow-y: auto;
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  border-top: 2px solid #333;
  font-size: 14px;
  white-space: pre-wrap;
}

#time-controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(30, 30, 30, 0.7);
  padding: 10px;
  border-radius: 8px;
}

.time-slider {
  width: 200px;
  -webkit-appearance: none;
  background: transparent;
  z-index: 2;
}

.time-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #4a4a4a;
  border-radius: 2px;
}

.time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #888;
  margin-top: -6px;
  cursor: pointer;
}

.time-slider::-webkit-slider-thumb:hover {
  background: #aaa;
}

.time-slider::-moz-range-track {
  width: 100%;
  height: 4px;
  background: #4a4a4a;
  border-radius: 2px;
}

.time-slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #888;
  cursor: pointer;
  border: none;
}
